body {
/*  background-image: url('/images/larry.png');
  background-repeat: no-repeat;
  background-position: center  0px; */
  margin: 0px;
}

h1 {
  padding-left: 40px;
  margin-bottom: 0px;
}

h2 {
  padding-left: 280px;
  margin-top: 0px;
  margin-bottom: 10px;
  position: relative;
  bottom: 15px;
}

.fieldWithErrors {
  border: 2px solid #f00;
}



#blue_bar {
  background-color: #3b5998;
}

#heading {
  height: 75px;
  background-color: #3b5998;
  font-size: 70%;
  color: #fff;
}

#heading a {
  text-decoration: none;
  color: #fff;
}

#heading a:hover {
  text-decoration: underline;
}

#heading img {
  border: 0px; 
}



.content {
  width: 880px;
  margin: auto;
  position: relative;
  padding: 0px 10px 0px 10px;
}

.ending {
  clear: all;
  float: left;
  background-color:#babaff;
  width: 880px;
  text-align: right;
  padding-right: 3px;
}




#top_login {
  position: absolute;
  bottom: 5px;
  right: 0px;
}



#lightblue_bar {
  background-color: #e0e0f3;
}

#menu {
  text-align: center;
  position: relative;
  margin-bottom: 30px;
  padding: 3px 10px 3px 10px;
  background-color: #e0e0f3;
}

#menu a {
  margin-left: 30px;
  margin-right: 30px;
  text-decoration: none;
  padding: 0px 15px 3px 15px;

  border-left: 3px solid #e0e0f3;
  border-right: 3px solid #e0e0f3;
  border-top: 3px solid #e0e0f3;
  color: #666;
}

#menu a:hover {
  background-color: #66f;
  color: #fff;
}

#active {
  background-color: #fff;
  color: #000;
}



#login, #password {
  text-align: center;
}

#form {
  padding: 50px;
  text-align: center;
}

#form table {
  margin: auto;
  text-align: left;
}



.avatar {
  float: left;
  width: 150px;
  height: 150px;
  margin-right: 20px;
  text-align: center;
}

.avatar_small {
  width: 80px;
  height: 80px;
  border: 1px solid #ddd;
  margin: 2px;
}



.brick {
  background-color: #f0f0ff;
  border: 2px solid #babaff;
  margin: 2px;
  margin-bottom: 5px;
/*  padding-bottom: 5px; */
  overflow: auto;
  position: relative;
/*  padding-left: 10px; */
}

.brick img {
/*  float: left;
  margin-right: 10px;
  margin-top: 10px; */
}

.brickcontent {
  margin: 0px 10px 0px 10px;
  font-size: 95%;
}

.brick h3 {
  background-color:#babaff;
  margin: 0px 0px 5px 0px;
/*  margin: 0px 0px 5px 90px;
  padding-left: 10px; */
}

.controll {
  padding-right: 5px;
  font-size: 70%;
  color: #666;
  text-align: right;
}

.controll a {
  text-decoration: none;
  color: #00f;
}

.controll a:hover {
  text-decoration: underline;
}



.board {
  width: 200px;
  float: left;
}

.wall {
  width: 600px;
  float: left; 
}

#enemies {
  text-align: center;
}

.navigator {
  text-align: center;
  margin: 10px;
}



/* title page big cow */
#cow {
  text-align: center;
}

/* flash fields */
.flashnotice {
  background-color: #ccffcc;
  border: solid 1px #00ff00;
  padding: 4px;
  margin: 10px;
}
.flasherror {
  background-color: #ffcccc;
  border: solid 1px #ff0000;
  padding: 4px;
  margin: 10px;
}
.flashwarning {
  background-color: #ffffcc;
  border: solid 1px #ffff00;
  padding: 4px;
  margin: 10px;
}
