<div class="brick">
<%= image_tag 'cow_small.png' %>
<h3><%= h brick.title %></h3>
<%= h brick.text %>
<br clear="all" />
<div class="controll">
<%= link_to 'upravit', {:controller => 'wall', :action => 'edit', :id => brick.id}, :title => "naposledy upraveno #{brick.updated_at.to_formatted_s}" %> | 
<%= link_to 'smazat', :controller => 'wall', :action => 'delete', :id => brick.id %>
<br />
<%= brick.created_at.to_formatted_s %>
</div>
</div>
