<div id="form">
<% form_for :brick do |f| %>
<table>
<tr><td>Titulek</td><td><%= f.text_field :title %></td></tr>
<tr><td>Zpráva </td><td><%= f.text_area :text, :rows => 8 %></td></tr>
<tr colspan="2"><td><%= submit_tag 'to je lepší' %></td></tr>
</table>
<% end %>
</div>
