<div class="board">
<h3><%= @current_user.name %></h3>

<p>...</p>

<p>...</p>

</div>

<div class="wall">
<%= link_to 'nový', :action => 'newbrick' %>

<% if @current_user.bricks.size > 0 %>
  <%= render :partial => 'brick', :collection => @latest_bricks %>
<% else %>
  Na zdi nemáš žádné čmáranice.
<% end %>
</div>


