<div id="form">
<% form_for :user do |f| %>
  <p><label>Login</label> <%= f.text_field :login %> </p>
  <p><label>Heslo</label> <%= f.password_field :password %> </p>
  <p> <%= submit_tag 'Přihlásit' %> </p>
<% end %>
</div>
