<div class="avatar">
<%= image_tag 'cow.png' %>
</div>

<h3><%= @current_user.name %></h3>

<p>mail: <%= mail_to @current_user.email %></p>
<p>web:
<%= link_to_if(@current_user.web =~ /^http:\/\//,  @current_user.web, @current_user.web) do
  link_to @current_user.web, "http://" + @current_user.web
end
%>
</p>

<br clear="all" />

<% unless @latest_brick.blank? %>
  <%= render :partial => 'wall/brick', :collection => [@latest_brick] %>
<% end %>

<p>...</p>
