<div class="board">
<h3><%= @current_user.name %></h3>

<p>...</p>

<p>...</p>

</div>

<div class="wall">
<% if @current_user.bricks.size > 0 %>
  <%= render :partial => 'brick', :collection => @latest_bricks %>
<% else %>
  Na zdi nemáš žádné čmáranice.
<% end %>

<% form_for :brick, :url => {:action => 'newbrick' } do |f| %>
<p>Titulek <%= f.text_field :title %></p>
<p>Zpráva <%= f.text_area :text, :rows => 8 %></p>
<p><%= submit_tag 'pověsit na zeď' %></p>
<% end %>
</div>


