<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>Fey's book</title>
  <%= stylesheet_link_tag 'style' %>
</head>
<body>

<div id="blue_bar">
<div id="heading" class="content">
  <%= link_to( image_tag('logo.png'), :controller => 'feysbook', :action => 'index') %>
  <div id="top_login">
<% unless logged_in? %>
  <% form_tag '/user/login' do %>
    <table>
    <tr><td>login</td><td>heslo</td><td> </td></tr>
    <tr>
    <td><%=text_field_tag 'login', nil, :size => 10%>
    <td><%=password_field_tag 'password', nil, :size => 10%></td>
    <td><%=submit_tag "log in" %></td>
    </tr>
    </table>
  <% end %>
<% else %>
  <br />
  <br />
  přihlášen <%= link_to @current_user.name, '/user/show' %> | 
  <%= link_to 'odhlásit se', :controller => 'user', :action => 'logout' %>
<% end %>
  </div>
</div>
</div>

<div class="content">
<h1>Asociální síť</h1>
<h2>aneb vystačíme si sami</h2>
</div>

<div id="lightblue_bar">
<div id="menu" class="content">
<% if logged_in? %>
<%= link_to_if controller.action_name == 'wall', 'wall', {:controller => 'user', :action => 'wall'}, :id => 'active' do 
  link_to 'wall', :controller => 'user', :action => 'wall' 
end
%>
<%= link_to_if controller.action_name == 'show', 'info', {:controller => 'user', :action => 'show'}, :id => 'active' do
  link_to 'info', :controller => 'user', :action => 'show' 
end
%>
<%= link_to_if controller.action_name == 'foto', 'foto', {:controller => 'user', :action => 'foto'}, :id => 'active' do
  link_to 'foto', :controller => 'user', :action => 'foto' 
end
%>
<% else %>
<%= link_to_if controller.action_name == 'login', 'Přihlásit se', {:controller => 'user', :action => 'foto'}, :id => 'active' do
  link_to 'Přihlásit se', :controller => 'user', :action => 'login'; end %>
<%= link_to_if controller.action_name == 'register', 'Zaregistrovat se', {:controller => 'user', :action => 'foto'}, :id => 'active' do
  link_to 'Zaregistrovat se', :controller => 'user', :action => 'register'; end %>
<% end %>
</div>
</div>

<div class="content">
<%= yield %>
</div>

</body>
</html>
